@model Pizza

<div class="card" style="width: 18rem;">
    <img src="@Model.Image" class="card-img-top" alt="@Model.Name">
    <div class="card-body">
        <h2>Nome: @Model.Name</h2>
        <span>Prezzo: @Model.Price €</span>
        <p class="card-text">Descrizione: @Model.Description</p>
    </div>
</div>
